/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff7a00;
  --ifm-color-primary-dark: #e66e00;
  --ifm-color-primary-darker: #d96800;
  --ifm-color-primary-darkest: #b35600;
  --ifm-color-primary-light: #ff8d26;
  --ifm-color-primary-lighter: #ff993d;
  --ifm-color-primary-lightest: #ffb366;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff9a2f;
  --ifm-color-primary-dark: #ff8a14;
  --ifm-color-primary-darker: #ff8205;
  --ifm-color-primary-darkest: #d96b00;
  --ifm-color-primary-light: #ffab52;
  --ifm-color-primary-lighter: #ffb566;
  --ifm-color-primary-lightest: #ffd1a3;
}

nav.pagination-nav{
  display:none !important;
}


img.project-icon{
  border:1px solid black;
  border-radius:32px;
  width:256px;
}

.navbar__logo{
  border-radius:100%;
  overflow:hidden;
}